[submodule "externals/sqt"]
	path = externals/sqt
	url = https://github.com/mjcarley/sqt
	ignore = dirty
[submodule "externals/agg"]
	path = externals/agg
	url = https://github.com/mjcarley/agg
	ignore = dirty
[submodule "externals/wbfmm"]
	path = externals/wbfmm
	url = https://github.com/mjcarley/wbfmm
	ignore = dirty
