# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

## don't include emacs backups
*~

## don't include intermediate data files
*.dat
*.msh
*.mat
*.nbi

## scratch directory
scratch
## directory for writing manual
latex

## m4 cache
autom4te.cache
